/* Main CSS for donaldmarino.com */

body {
  background: #989898;
  margin: 0px;
  font-family: sans-serif;
}

#home_banner {
  text-align: center;
  padding: 4px;
  background: #000000;
  border-bottom: 2px solid #000000;
}

#home_title {
  font-size: 1.2em;
  font-weight: bold;
  color: #cccccc;
}
